.mainDiv {
  width: 100%;
  height: 400px;
  background-color: aqua;
  border: 1px solid red;
}

.carauselComponent{
    display: block;
    width: 100%;
    height: 375px;
    object-fit: cover;
}

.productCarausel{
}
@media only screen and (max-width: 768px) {
  .mainDiv {
    height: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .mainDiv {
    height: 150px;
  }
}
