.main {
  width: 88%;
  margin: auto;
}

.carauselComponent {
  object-fit: cover;
}

.link{
  text-decoration: none;
}

/* 
.productCarausel{
}
@media only screen and (max-width: 768px) {
  .mainDiv {
    height: 300px;
  }
}

*/
@media only screen and (max-width: 480px) {
  .main {
    width: 100%;
    height: 300px;
  }
  .carauselComponent{
    width: 100%;
    height: 200px;
  }
}